<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	 <category label = "General">
		<setting id="cache_enabled" type="bool" label="Enable Caching" default="true"/>
		<setting id="tmdb_test" type="text" label="TMDB list url (just last 5 digits)" default=""/>
		<setting id="dev_log" type="bool" label="Enable Scraper Log [DEV]" default="false"/>
		<setting label="Disable All" type="action" option="close" action="RunPlugin(plugin://script.module.universalscrapers/?mode=DisableAll)"/>
		<setting label="Enable All" type="action" option="close" action="RunPlugin(plugin://script.module.universalscrapers/?mode=EnableAll)"/>
		<setting label="Deletelog" type="action" option="close" action="RunPlugin(plugin://script.module.universalscrapers/?mode=Deletelog)"/>
	</category>
	<category label="Scrapers 1">
		<setting label="ProjectFree" type="lsep"/>
		<setting id="ProjectFree_enabled" type="bool" label="Enabled" default="true"/>
	</category>
</settings>